@keyframes font-color {
    0% { color: #000000; }
    100% { color: #ffffff; }
}
@-webkit-keyframes font-color {
    0% { color: #000000; }
    100% { color: #ffffff; }
}
@keyframes bg-color {
    0% { background-color: #2779bd55; }
    100% { background-color: #2779bdee; }
}
@-webkit-keyframes bg-color {
    0% { background-color: #2779bd55; }
    100% { background-color: #2779bdee; }
}

body {
    background-color: lightcyan;
}

h1 {
    margin: 0.5em;
}

footer {
    text-align: center;
}

.station {
    background-color: #2779bd55;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(80% + 0.2vw);
    font-weight: bold;
    color: #000000;
    border-radius: 10%;
    cursor: pointer;
    text-shadow: 2px 2px 3px #ffffff99, -2px 2px 3px #ffffff99,
                 2px -2px 3px #ffffff99, -2px -2px 3px #ffffff99;
}

.box {
    position: relative;
    text-align: center;
    margin: 1em;
}

.layer {
    position: absolute;
    left: 0;
    top: 0;
    border: 5px ridge #dd0076;
}

.station > a {
    color: #000000;
    text-decoration: none;
}

.station:hover {
    background-color: #2779bdee;
    animation: bg-color 0.5s;
    -webkit-animation: bg-color 0.5s;
}

.station:hover > a {
    color: #ffffff;
    animation: font-color 0.5s;
    -webkit-animation: font-color 0.5s;
}

.control-btns {
    text-align: center;
    margin: 0.5em;
}

.control-btn {
    margin: 0.2em;
}

#video {
    border-radius: 1em;
    box-shadow: 0em 0em 0.5em gray;
}

#imagebox {
    padding-top: 17.1%;
    padding-bottom: 17.1%;
    border: 5px ridge #dd0076;
    background-color: white;
}

#imagebox::after {
    content: "";
    border: 5px ridge #000088;
    position: absolute;
    top: 5px;
    left: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
}

#image {
    z-index: 0;
}

#chofusta {
    width: 20%;
    height: 16%;
    position: absolute;
    top: 52%;
    left: 52%;
}

#meidaista {
    width: 19%;
    height: 16%;
    position: absolute;
    top: 52%;
    left: 30%;
}

#kitanosta {
    width: 19%;
    height: 16%;
    position: absolute;
    top: 52%;
    left: 74%;
}

#sasasta {
    width: 20%;
    height: 16%;
    position: absolute;
    top: 52%;
    left: 7%;
}

#backtokeio {
    width: 12%;
    height: 10%;
    position: absolute;
    top: 10%;
    left: 44%;
}

#freezelayer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    background: #ffffff;
    display: block;
}