<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/html5reset-1.6.1.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <script src="//cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.webrtc.ecl.ntt.com/skyway-latest.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/db6e84dbc8.js" crossorigin="anonymous"></script>
    <script src="js/load.js" crossorigin="anonymous"></script>
    <script src="js/api.js" crossorigin="anonymous"></script>
    <title>遠隔操作体験特設サイト</title>
</head>
<body>
    <div id="app">
    <div class="container">
    <div class="row">
    <div class="col-12">
        <h1>遠隔操作体験特設サイト</h1>
        <p>プラレール操作を遠隔で体験してみませんか？ここでは誰でも気軽に遠隔操作を行えます！！<br>
        ※他の人が操作している間は操作できません。順番が回るまでしばらくお待ちください。</p>
    </div>
    <div class="col-lg">
    <div class="box">
        <video id="video" width="100%" autoplay muted playsinline></video>
        <!-- <video id="video" width="100%" autoplay muted playsinline></video> -->
    </div>
    </div>
    <div class="col-lg">
    <div class="box">
        <div id="imagebox">
            <img id="image" src="image/keio.png" width="100%" alt="配線図">
            <!-- <img id="layer1" class="layer" src="" width="100%" hidden="true">
            <img id="layer2" class="layer" src="" width="100%" hidden="true">
            <img id="layer3" class="layer" src="" width="100%" hidden="true">
            <img id="layer4" class="layer" src="" width="100%" hidden="true">
            <img id="layer5" class="layer" src="" width="100%" hidden="true">
            <img id="layer6" class="layer" src="" width="100%" hidden="true">
            <img id="layer7" class="layer" src="" width="100%" hidden="true"> -->
            <!-- <p  v-for="s in stations[selected_station].stops" >{{s}}</p> -->
            <img v-for="s in stations[selected_station].stops" class="layer" :src="s.image" width="100%">
            <img v-for="s in stations[selected_station].branchs" class="layer" :src="s.image" width="100%">
        </div>
        <!--<div class="test">
            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
        </div>-->
        <div id="chofusta" class="station" onclick="loadChofu()">調布駅</div>
        <div id="meidaista" class="station" onclick="loadMeidaimae()">明大前駅</div>
        <div id="sasasta" class="station" onclick="loadSasazuka()">笹塚駅</div>
        <div id="kitanosta" class="station" onclick="loadKitano()">北野駅</div>
        <div id="backtokeio" class="station" hidden="true" onclick="backToWholeImage()">戻る</div>
    </div>
    <!-- <p id="server-id" hidden="true"></p>
    <textarea id="their-id"></textarea>
    <button id="make-call" onclick="makeCall()">発信</button> -->
    </div>
    </div>
    <div class="control-btns">
        <h3>こちらから操作できます</h3>
        <p id="describe-text">駅をクリックしてみてください！</p>
        <button v-for="s,k in stations[selected_station].stops" v-on:click="push_btn(selected_station,true,k)" :class="s.class">{{s.text}}</button><br/>
        <button v-for="s,k in stations[selected_station].branchs" v-on:click="push_btn(selected_station,false,k)" :class="s.class">{{s.text}}</button><br/>
    </div>
    </div>
    </div>
    <footer>
        <p style="text-align: center;">&copy; 2020 UEC Koken.</p>
    </footer>
    <script>
        
    </script>
    <script src="js/main.js" crossorigin="anonymous"></script>
</body>
</html>