<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow">
    <meta property="og:url" content="https://chofufes-plarail-2020.takoyaki3.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="工研×鉄研 プラレール遠隔操作体験 特設サイト" />
    <meta property="og:description" content="『工学研究部×鉄道研究会コラボ企画』自動！？遠隔！？進化したプラレール展示。列車やポイント、駅の停車をスマホやPCで遠隔操作できる他、自動運転区間とも直通します。" />
    <meta property="og:image" content="image/thumbnail.png" />
    <meta name="twitter:card" content="summary"></meta>
    <meta name="twitter:site" content="@ueckoken" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/html5reset-1.6.1.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <script src="//cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.webrtc.ecl.ntt.com/skyway-latest.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/db6e84dbc8.js" crossorigin="anonymous"></script>
    <script src="js/load.js" crossorigin="anonymous"></script>
    <script src="js/api.js"></script>
    <title>工研×鉄研 プラレール遠隔操作体験 特設サイト</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3LK9D8W2QZ"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-3LK9D8W2QZ');
    </script>
</head>
<body>
    <div id="app">
    <div class="container">
    <div class="row">
    <div class="col-12">
        <h1>工研鉄研合同 プラレール遠隔操作体験 特設サイト</h1>
        <p>プラレール操作を遠隔で体験してみませんか？ここでは誰でも気軽に遠隔操作を行えます！！<br>
        ※ほかの方が操作した動作は画面上には反映されません。ボタンを１度操作し、画面上の表示と一致させてから操作してください</p>
    </div>
    <div class="col-lg">
    <div class="box">
        <p>本日は１０時から１９時の配信を予定しております。昨日の様子はこちらから御覧いただけます。</p>
        <iframe v-show="is_all" src="https://www.youtube.com/embed/TaAIVwADyO8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <video  v-show="!is_all"id="video" width="100%" autoplay muted playsinline></video>
        <!-- <video id="video" width="100%" autoplay muted playsinline></video> -->
    </div>
    </div>
    <div class="col-lg">
    <div class="box">
        <div id="imagebox">
            <img id="image" src="image/keio.png" width="100%" alt="配線図">
            <!-- <img id="layer1" class="layer" src="" width="100%" hidden="true">
            <img id="layer2" class="layer" src="" width="100%" hidden="true">
            <img id="layer3" class="layer" src="" width="100%" hidden="true">
            <img id="layer4" class="layer" src="" width="100%" hidden="true">
            <img id="layer5" class="layer" src="" width="100%" hidden="true">
            <img id="layer6" class="layer" src="" width="100%" hidden="true">
            <img id="layer7" class="layer" src="" width="100%" hidden="true"> -->
            <!-- <p  v-for="s in stations[selected_station].stops" >{{s}}</p> -->
            <img v-for="s in stations[selected_station].stops" class="layer" :src="s.image" width="100%">
            <img v-for="s in stations[selected_station].branchs" class="layer" :src="s.image" width="100%">
        </div>
        <!--<div class="test">
            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
        </div>-->
        <div id="chofusta" class="station" onclick="loadChofu()">調布駅</div>
        <div id="meidaista" class="station" onclick="loadMeidaimae()">明大前駅</div>
        <div id="sasasta" class="station" onclick="loadSasazuka()">笹塚駅</div>
        <div id="kitanosta" class="station" onclick="loadKitano()">北野駅</div>
        <div id="backtokeio" class="station" hidden="true" onclick="backToWholeImage()">戻る</div>

        <canvas id="freezelayer" width="100%" height="100%" hidden="false"></canvas>
    </div>
    <!-- <p id="server-id" hidden="true"></p>
    <textarea id="their-id"></textarea>
    <button id="make-call" onclick="makeCall()">発信</button> -->
    </div>
    </div>
    <div class="control-btns">
        <h3>こちらから操作できます</h3>
        <p id="describe-text">駅をクリック/タップしてみてください！</p>
        <button v-for="s,k in stations[selected_station].stops" v-on:click="push_btn(selected_station,true,k)" :class="s.class">{{s.text}}</button><br/>
        <button v-for="s,k in stations[selected_station].branchs" v-on:click="push_btn(selected_station,false,k)" :class="s.class">{{s.text}}</button><br/>
        <p>列車速度：<output id="speedvalue">49</output> <input type="range" name="speed" id="speed" min="-50" max="49" step="1" value="49" onchange="displaySpeed(this)"></p>
    </div>
    </div>
    </div>
    <footer>
        <i class="fa fa-link" aria-hidden="true"></i><a href="https://www.koken.club.uec.ac.jp/chofusai2020/">工学研究部 調布祭特設サイト</a>
        <i class="fa fa-link" aria-hidden="true"></i><a href="http://www.chofusai.uec.ac.jp/about.html">第70回 バーチャル調布祭</a>
        <br>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="工研🛠／鉄研🚎コラボ開催中！今ならプラレールの遠隔操作ができるよ！今すぐアクセス！" data-hashtags="調布祭" data-lang="ja" data-show-count="false">Tweet</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <a href="https://twitter.com/ueckoken?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-text="工研🛠／鉄研🚎コラボ開催中！今ならプラレールの遠隔操作ができるよ！今すぐアクセス！" data-hashtags="調布祭" data-lang="ja" data-show-count="false">Follow @ueckoken</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <div class="line-it-button" data-lang="ja" data-type="share-a" data-ver="3" data-url="https://chofufes-plarail-2020.takoyaki3.com/" data-color="default" data-size="large" data-count="false" style="display: none;"></div>
        <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
        <a href="https://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="basic-label" data-hatena-bookmark-lang="ja" data-hatena-bookmark-width="100" data-hatena-bookmark-height="30" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/v4/public/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
        <p style="text-align: center;">&copy; 2020 <a href="https://www.koken.club.uec.ac.jp/">UEC Koken</a>.</p>
    </footer>
    <script>
        
    </script>
    <script src="js/main.js"></script>
</body>
</html>